In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/sagnikghoshcr7/Bank-Customer-Churn-Prediction/master/Churn_Modelling.csv')

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
data.drop(columns = ['RowNumber', 'CustomerId', 'Surname'], inplace = True)

In [6]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
data['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [9]:
data['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [10]:
data = pd.get_dummies(data, columns=['Geography', 'Gender'], drop_first = True)

In [11]:
X = data.drop(['Exited'], axis = 1)

In [12]:
y = data.Exited

In [13]:
y.shape

(10000,)

In [14]:
len(X.columns)

11

In [15]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [16]:
import tensorflow
from tensorflow import keras

In [17]:
from tensorflow.keras import Sequential  # there are 2 type 1.sequential 2.functional
from tensorflow.keras.layers import Dense #for hidden layer we are using DENSE

In [18]:
model = Sequential()
model.add(Dense(11, activation = 'sigmoid', input_dim = 11))
model.add(Dense(1, activation = 'sigmoid')) #output layer

In [19]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                132

 dense_1 (Dense)             (None, 1)                 12

=================================================================
Total params: 144
Trainable params: 144
Non-trainable params: 0
_________________________________________________________________

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size =0.2, random_state=26)

In [21]:
from sklearn.preprocessing import StandardScaler # we are going to use gradiant decent so we need to scale the data
scaler = StandardScaler()
X_train_scale = scaler.fit_transform(X_train)
X_test_scale = scaler.transform(X_test)

In [22]:
model.compile(optimizer= 'Adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [24]:
model.fit(X_train, y_train, epochs = 50, verbose =True)

Epoch 1/50
250/250 [==============================] - 6s 3ms/step - loss: 0.6297 - accuracy: 0.6445
Epoch 2/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5266 - accuracy: 0.7595
Epoch 3/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5087 - accuracy: 0.7929
Epoch 4/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5061 - accuracy: 0.7924
Epoch 5/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5055 - accuracy: 0.7924
Epoch 6/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5050 - accuracy: 0.7924
Epoch 7/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5048 - accuracy: 0.7924
Epoch 8/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5045 - accuracy: 0.7924
Epoch 9/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5042 - accuracy: 0.7924
Epoch 10/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5042 - accuracy: 0.7924
Epoch 11/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5041 - accuracy: 0.7924
Epoch 12/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5039 - accuracy: 0.7924
Epoch 13/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5039 - accuracy: 0.7924
Epoch 14/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5037 - accuracy: 0.7924
Epoch 15/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5037 - accuracy: 0.7924
Epoch 16/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5035 - accuracy: 0.7924
Epoch 17/50
250/250 [==============================] - 1s 4ms/step - loss: 0.5035 - accuracy: 0.7924
Epoch 18/50
250/250 [==============================] - 1s 4ms/step - loss: 0.5033 - accuracy: 0.7924
Epoch 19/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5035 - accuracy: 0.7924
Epoch 20/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5033 - accuracy: 0.7924
Epoch 21/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5033 - accuracy: 0.7924
Epoch 22/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5032 - accuracy: 0.7924
Epoch 23/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5032 - accuracy: 0.7924
Epoch 24/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5032 - accuracy: 0.7924
Epoch 25/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5031 - accuracy: 0.7924
Epoch 26/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5029 - accuracy: 0.7924
Epoch 27/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5031 - accuracy: 0.7924
Epoch 28/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5029 - accuracy: 0.7924
Epoch 29/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5031 - accuracy: 0.7924
Epoch 30/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5029 - accuracy: 0.7924
Epoch 31/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5031 - accuracy: 0.7924
Epoch 32/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5034 - accuracy: 0.7924
Epoch 33/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5033 - accuracy: 0.7924
Epoch 34/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5031 - accuracy: 0.7924
Epoch 35/50
250/250 [==============================] - 1s 4ms/step - loss: 0.5031 - accuracy: 0.7924
Epoch 36/50
250/250 [==============================] - 1s 4ms/step - loss: 0.5029 - accuracy: 0.7924
Epoch 37/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5030 - accuracy: 0.7924
Epoch 38/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5031 - accuracy: 0.7924
Epoch 39/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5030 - accuracy: 0.7924
Epoch 40/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5030 - accuracy: 0.7924
Epoch 41/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5029 - accuracy: 0.7924
Epoch 42/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5029 - accuracy: 0.7924
Epoch 43/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5029 - accuracy: 0.7924
Epoch 44/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5030 - accuracy: 0.7924
Epoch 45/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5029 - accuracy: 0.7924
Epoch 46/50
250/250 [==============================] - 1s 5ms/step - loss: 0.5033 - accuracy: 0.7924
Epoch 47/50
250/250 [==============================] - 1s 5ms/step - loss: 0.5029 - accuracy: 0.7924
Epoch 48/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5028 - accuracy: 0.7924
Epoch 49/50
250/250 [==============================] - 1s 4ms/step - loss: 0.5029 - accuracy: 0.7924
Epoch 50/50
250/250 [==============================] - 2s 7ms/step - loss: 0.5029 - accuracy: 0.7924

In [25]:
model.fit(X_train_scale, y_train, epochs = 50, verbose =True)

Epoch 1/50
250/250 [==============================] - 1s 4ms/step - loss: 0.4684 - accuracy: 0.7947
Epoch 2/50
250/250 [==============================] - 1s 4ms/step - loss: 0.4388 - accuracy: 0.8052
Epoch 3/50
250/250 [==============================] - 1s 4ms/step - loss: 0.4326 - accuracy: 0.8073
Epoch 4/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4299 - accuracy: 0.8065
Epoch 5/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4280 - accuracy: 0.8077
Epoch 6/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4262 - accuracy: 0.8089
Epoch 7/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4243 - accuracy: 0.8102
Epoch 8/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4222 - accuracy: 0.8121
Epoch 9/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4201 - accuracy: 0.8127
Epoch 10/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4176 - accuracy: 0.8138
Epoch 11/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4153 - accuracy: 0.8170
Epoch 12/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4126 - accuracy: 0.8179
Epoch 13/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4102 - accuracy: 0.8190
Epoch 14/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4078 - accuracy: 0.8206
Epoch 15/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4055 - accuracy: 0.8230
Epoch 16/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4031 - accuracy: 0.8241
Epoch 17/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4008 - accuracy: 0.8263
Epoch 18/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3987 - accuracy: 0.8280
Epoch 19/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3967 - accuracy: 0.8303
Epoch 20/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3947 - accuracy: 0.8314
Epoch 21/50
250/250 [==============================] - 2s 6ms/step - loss: 0.3928 - accuracy: 0.8349
Epoch 22/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3910 - accuracy: 0.8356
Epoch 23/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3893 - accuracy: 0.8374
Epoch 24/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3875 - accuracy: 0.8388
Epoch 25/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3858 - accuracy: 0.8396
Epoch 26/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3842 - accuracy: 0.8403
Epoch 27/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3828 - accuracy: 0.8406
Epoch 28/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3813 - accuracy: 0.8426
Epoch 29/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3801 - accuracy: 0.8432
Epoch 30/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3788 - accuracy: 0.8438
Epoch 31/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3775 - accuracy: 0.8439
Epoch 32/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3763 - accuracy: 0.8431
Epoch 33/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3750 - accuracy: 0.8451
Epoch 34/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3738 - accuracy: 0.8466
Epoch 35/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3725 - accuracy: 0.8459
Epoch 36/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3715 - accuracy: 0.8469
Epoch 37/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3703 - accuracy: 0.8478
Epoch 38/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3691 - accuracy: 0.8480
Epoch 39/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3681 - accuracy: 0.8480
Epoch 40/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3670 - accuracy: 0.8512
Epoch 41/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3659 - accuracy: 0.8505
Epoch 42/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3647 - accuracy: 0.8515
Epoch 43/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3636 - accuracy: 0.8519
Epoch 44/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3624 - accuracy: 0.8516
Epoch 45/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3614 - accuracy: 0.8526
Epoch 46/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3604 - accuracy: 0.8530
Epoch 47/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3594 - accuracy: 0.8543
Epoch 48/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3584 - accuracy: 0.8547
Epoch 49/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3575 - accuracy: 0.8549
Epoch 50/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3564 - accuracy: 0.8559

In [26]:
y_pred = model.predict(X_test_scale)

63/63 [==============================] - 0s 1ms/step

In [27]:
y_pred #probabilities

array([[0.55371475],
       [0.72339803],
       [0.02428768],
       ...,
       [0.04418279],
       [0.372196  ],
       [0.0200633 ]], dtype=float32)

In [28]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

ValueError: ignored

In [32]:
y_pred = y_pred.argmax(axis = 1)

In [33]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [30]:
y_test

8884    1
4629    1
726     0
3890    0
711     0
       ..
4518    0
2164    0
3153    0
5962    1
2765    0
Name: Exited, Length: 2000, dtype: int64

In [34]:
accuracy_score(y_test, y_pred)

0.812